body {
    font-family: 'Arial', sans-serif;
    transition: background-color black;
}

h1 {
    margin-bottom: 20px;
}

h2 {
    margin-top: 20px;
}

body.dark-mode {
    background-color: black;
    color: white;
    background-image: url('background darkmode.jpg');
}

/* Ajuste adicional para asegurar que el contenedor ocupe todo el ancho */
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    flex: 1;
    box-sizing: border-box;
}

/* Columnas */
.columns {
    display: flex;
    flex-wrap: nowrap; /* Evita que las columnas se envuelvan en la siguiente fila */
    overflow-x: auto;  /* Habilita el scroll horizontal si las columnas no caben en la pantalla */
    padding-bottom: 15px; /* Asegura que haya espacio debajo de las columnas para la barra de desplazamiento */
    box-sizing: border-box;
}

.column {
    min-width: 300px; /* Asegura un ancho mínimo para cada columna */
    margin-right: 15px; /* Añade un margen entre las columnas */
    flex-grow: 0; /* Evita que las columnas crezcan más allá de su tamaño natural */
    flex-basis: calc(20% - 15px); /* Ajusta el tamaño de cada columna */
}

.column:last-child {
    margin-right: 0; /* Elimina el margen derecho de la última columna */
}

#highPriority {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: red;
}

#mediumPriority{
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: yellow;
}

#lowPriority {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: green;
}

.box {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px black;
    background-color: white;
    cursor: grab;
}

.box.dragging {
    opacity: 0.5;
}

.columns {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
}

.column {
    min-width: 300px;
}

.column h2 {
    margin-bottom: 10px;
}

.modal.is-active {
    display: flex;
}

.modal-background {
    background-color: black;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    margin: auto;
}

body.dark-mode {
    background-color: black;
    color: white;
}

body.dark-mode .box {
    background-color: gray;
    color: white;
    
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5,
body.dark-mode h6 {
    color: beige;
}

body.dark-mode #darkModeToggle {
    background-color: aquamarine;
}

body #darkModeToggle{
    background-color: antiquewhite;
}

body.dark-mode .modal-content {
    background-color: black;
    color: white;
}

body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s;
}

body.dark-mode {
    background-image: url('background\ darkmode.jpg');
}


.column.over {
    border: 2px dashed gray;
    background-color: white;
}

@media (min-width: 1440px) {
    .columns {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .column {
        flex: 0 0 auto;
    }
}

@media (max-width: 768px) {
    .columns {
        flex-wrap: wrap;
    }

    .column {
        flex: 1 0 100%;
    }
}

@media (max-width: 425px) {
    .new-task-button {
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    .columns {
        flex-direction: column;
        overflow-y: auto;
    }

    .column {
        max-height: 70vh;
        overflow-y: auto;
    }
}

.column {
    max-height: 80vh;
    overflow-y: auto;
}

.box {
    margin-bottom: 10px;
}